@font-face{
    font-family: 'Nasa';
    src: url('../../resources/fonts/nasalization-rg.otf');
}
@font-face{
    font-family: 'CoursesName';
    src: url('../../resources/fonts/Roboto-Medium.ttf');
}
@font-face{
    font-family: 'CoursesDateInsc';
    src: url('../../resources/fonts/Roboto-MediumItalic.ttf');
}

@keyframes changeColorLD{
	0%   { --bgColor: #E3E3E3; }
	20%  { --bgColor: #C8C8C8; }
	40%  { --bgColor: #ACACAC; }
	60%  { --bgColor: #919191; }
	80%  { --bgColor: #757575; }
	100% { --bgColor: #3e4c59; }
}
@keyframes changeColorDL{
	0%   { --bgColor: #3e4c59; }
	20%  { --bgColor: #5a6673; }
	40%  { --bgColor: #76808e; }
	60%  { --bgColor: #919cad; }
	80%  { --bgColor: #adb8c8; }
	100% { --bgColor: #E3E3E3; }
}

:root{
	--bgColor:#E3E3E3;
	--bgColorHover:#CDCDCD;
	--primTxtColor:black;
	--secTxtColor:gray;
	--thirdColor:gray;
	--shadowTxtColor:#9b9b9b;
	--shadowBoxColor:#9b9b9b;
	--borderColor:gray;
}
:root.changeColorAnimDL{
	animation: changeColorDL 0.2s linear forwards;
}
:root.changeColorAnimLD{
	animation: changeColorLD 0.2s linear forwards;
}

html{
	scroll-behavior:smooth;
}

/*------------CONTENU DE LA PAGE------------*/
body{
	background: var(--bgColor);	
}
main{
	margin-left:270px;
	margin-top:100px;	
	right:0;
}
section{	
	margin-right:20px;
	margin-left:20px;
	color: var(--primTxtColor);
}
fieldset{
	box-shadow: 0 0 8px var(--shadowBoxColor);
	border:1px outset var(--borderColor);
}
fieldset h3{
	text-align:center;
	font: 25px "CoursesName",sans-serif;
}
fieldset legend{
	font: 30px "Nasa",sans-serif;
	box-shadow: 0 0 8px var(--shadowBoxColor);
	opacity:1;	
	background: var(--bgColor);
	border-radius:15px;
	padding:8px;
	text-shadow:1px 1px 1px var(--shadowTxtColor);
}
button{
	cursor:pointer;
}
/*------------COURS SUIVIS------------*/
#UserTable{
	width:100%;
}
th{
	font: 23px "Nasa",sans-serif;
	padding:5px;
	text-shadow:1px 1px 1px var(--shadowTxtColor);
}
tbody{
	text-align:left;
}
td{
	padding:10px;
}
.tdNomFam{
	font: 17px "CoursesName",sans-serif;
	border-right:2px outset var(--borderColor);
}
.tdPrenom{
	font: 17px "CoursesName",sans-serif;
	border-right:2px outset var(--borderColor);
	text-align:center;
}
.tdID{
	font: 17px "CoursesName",sans-serif;
	text-align:center;
	border-right:2px outset var(--borderColor);
}
.tdAction{
	text-align:center;
}
.tdAdmin{
	color:red;
}
#boutonValMod{
	border:none;
	padding:8px;
	background: var(--bgColor);	
	color:var(--primTxtColor);
	font: 20px "Nasa",sans-serif;
	margin-left:115px;
}
input[type=text],input[type=password]{
	width:175px;	
	background: var(--bgColorHover);
	box-shadow: 0 0 8px var(--shadowBoxColor);
	opacity:1;
	color: var(--primTxtColor);
	padding:8px;
	border:none;
	border-radius:15px;
	font: 17px "CoursesName",sans-serif;
	text-shadow:1px 1px 1px var(--shadowTxtColor);	
}
#boutonValMod:hover{
	background: var(--bgColorHover);
	cursor:pointer;	
}
.labelNodif{
	font: 20px "CoursesName",sans-serif;
}
.show{
  display: block;
}